/*Jhopper*/
#chat .id-4125777 .badge-box i.bdg {
    background : url(http://i.imgur.com/vqKvC0k.gif);
}

#chat-message .id-4125777 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/vqKvC0k.gif);
    background-size: cover;
}
