/*Jhopper*/
#chat .id-4125777 .badge-box i.bdg {
    background : url(https://raw.githubusercontent.com/NMSDJ/NMS/master/jhopper.gif);
}

#chat-message .id-4125777 .badge-box i.bdg {
    background-image: url(https://raw.githubusercontent.com/NMSDJ/NMS/master/jhopper.gif);
    background-size: cover;
}
/* Grab, woot, meh buttons */
#woot i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/woot.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#grab i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/grab.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#meh i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/meh.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Extra non-important stuff */
.id-5767704:hover span.un.clickable
{
    transform:  rotate3d(7, 20, 9, 360deg);
    transition: all 3s cubic-bezier(0.31, 0, 0.11, 1);
}

.id-5767704 span.un.clickable
{
    transition: all 1s linear;
}

.id-5767704:hover > .msg > .from > i.icon-chat-manager
{
    transform:  rotateZ(180deg);
    transition: all 1s linear;
}

.id-5767704 > .msg > .from > i.icon-chat-manager
{
    transition: all 1s linear;
}

/* The law giveth, the law taketh */
.id-5502961:hover span.un.clickable
{
    transform:   rotate3d(8, 1, 5, 360deg);
    margin-left: 5px;
    text-shadow: 1px 1px 20px darkred, 0 0 80px orange, 0 0 40px red;
    transition:  text-shadow 0.5s 1.7s, transform 2s linear, margin-left 1.5s;
}

.id-5502961 span.un.clickable
{
    transition: all 1s linear;
}

.id-5502961:hover > .msg > .from > i.icon-chat-manager
{
    transform:   rotateZ(-270deg);
    margin-left: 5px;
    transition:  all 1s linear;
}

.id-5502961 > .msg > .from > i.icon-chat-manager
{
    transition: all 1s linear;
}

/* HerpDerp */

.message.role-rdj,
.emote.role-rdj
{
    border-left:  #33CCFF 2px dotted;
    border-right: #33CCFF 2px dotted;
}

.message.role-rdj:hover,
.emote.role-rdj:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-manager,
.emote.role-manager,
.message.role-bouncer,
.emote.role-bouncer
{
    border-left:  #3083FF 2px dotted;
    border-right: #3083FF 2px dotted;
}

.message.role-manager:hover,
.emote.role-manager:hover,
.message.role-bouncer:hover,
.emote.role-bouncer:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-cohost,
.emote.role-cohost
{
    border-left:  #FF007F 2px dotted;
    border-right: #FF007F 2px dotted;
}

.message.role-cohost:hover,
.emote.role-cohost:hover,
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host.emote.role-host
{
    border-left:  #FF007F 2px dotted;
    border-right: #FF007F 2px dotted;
}

.message.role-host:hover,
.emote.role-host:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host > .msg > .text::selection,
.emote.role-host > .msg > .text::selection,
.message.role-host > .msg > .text::-moz-selection,
.emote.role-host > .msg > .text::-moz-selection
{
    color: #FF007F;
}

.message.role-cohost > .msg > .text::selection,
.emote.role-cohost > .msg > .text::selection,
.message.role-cohost > .msg > .text::-moz-selection,
.emote.role-cohost > .msg > .text::-moz-selection
{
    color: #FF007F;
}

.message.role-manager > .msg > .text::selection,
.emote.role-manager > .msg > .text::selection,
.message.role-manager > .msg > .text::-moz-selection,
.emote.role-manager > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-bouncer > .msg > .text::selection,
.emote.role-bouncer > .msg > .text::selection,
.message.role-bouncer > .msg > .text::-moz-selection,
.emote.role-bouncer > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-rdj > .msg > .text::selection,
.emote.role-rdj > .msg > .text::selection,
.message.role-rdj > .msg > .text::-moz-selection,
.emote.role-rdj > .msg > .text::-moz-selection
{
    color: #33CCFF;
}

.message.role-user > .msg > .text::selection,
.emote.role-user > .msg > .text::selection,
.message.role-user > .msg > .text::-moz-selection,
.emote.role-user > .msg > .text::-moz-selection
{
    color: #777f92;
}
